@charset "UTF-8";
/* ----------------------------------------------------------------------------------------
Foundation 
----------------------------------------------------------------------------------------*/
html {
  font-size: 62.5%;
  /* デフォルトの文字サイズ 1rem=10px(font-sizeは16pxの62.5%の) */
  /* font-size: calc( 1000vw / 375 );  */
}

body {
  font-size: 1.6rem;
  /* ＝16px */
  /*   min-width: 32rem; 指定したら良いのか調べる  */
}

body::before {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 15;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: all 0.3s;
  pointer-events: none;
}

body.is-open {
  position: fixed;
  overflow: hidden;
}

body.is-open::before {
  opacity: 1;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

/*!
 * ress.css • v4.0.0
 * MIT License
 * github.com/filipelinhares/ress
 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0;
  /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
     # General elements
     # ================================================================= */
hr {
  overflow: visible;
  /* Show the overflow in Edge and IE */
  height: 0;
  /* Add the correct box sizing in Firefox */
  color: inherit;
  /* Correct border color in Firefox. */
}

details,
main {
  display: block;
  /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item;
  /* Add the correct display in all browsers */
}

small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none;
  /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none;
  /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  text-decoration: underline dotted;
}

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
  text-decoration: none;
  color: inherit;
}

a:active,
a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */
}

pre {
  font-size: 1em;
  /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder;
  /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-color: inherit;
  /* Correct border color in all Chrome, Edge, and Safari. */
  text-indent: 0;
  /* Remove text indentation in Chrome, Edge, and Safari */
}

/* # =================================================================
     # Forms
     # ================================================================= */
input {
  border-radius: 0;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
  /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type='search'] {
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px;
  /* Correct the outline style in Safari */
}

[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type='button'],
[type='reset'],
[type='submit'],
[role='button'] {
  cursor: pointer;
  color: inherit;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline-width: 0;
}

/* Style select like a standard input */
select {
  -moz-appearance: none;
  /* Firefox 36+ */
  -webkit-appearance: none;
  /* Chrome 41+ */
}

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */
}

legend {
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  white-space: normal;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */
}

/* # =================================================================
     # Specify media element style
     # ================================================================= */
img {
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* # =================================================================
     # Accessibility
     # ================================================================= */
/* Specify the progress cursor of updating elements */
[aria-busy='true'] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled='true'] {
  cursor: default;
}

/* //pxをvwに変換するfunction
@function _get_vw($size, $viewport: 375) {
  $rate: 100 / $viewport;
  @return $rate * $size * 1vw;
}

//フォント用のmixin サービスエリアのタイトルで実験
@mixin font-vw($font_size: 10, $viewsize: 375) {
  font-size: $font_size * 1px;
  font-size: _get_vw($font_size, $viewsize);
} */
/* // rem値をvw値に変換する プロパティにどのような式で指定すれば良いか分からない
@function remToVw($remValue) {
  $remVal: (($remValue * 10) / 1rem);
  @return (($remVal / ($spBreakPoint / 1px)) * 100) + vw;
  } */
/* ----------------------------------------------------------------------------------------
Layout
----------------------------------------------------------------------------------------*/
.l-header {
  width: 100%;
  background-color: #FFF7EF;
}

.l-main {
  width: 100%;
  background-color: #FFFDFA;
}

.l-sidebar {
  position: fixed;
  top: 0%;
  left: 100%;
  height: 100vh;
  background-color: #F2EDE9;
  padding-top: 8.2rem;
}

.l-sidebar__ttl {
  display: none;
  font-family: "Roboto", sans-serif;
  font-size: 3.4rem;
  font-weight: bold;
  line-height: 1.3;
  color: #707070;
  padding-left: 4.6rem;
}

@media (min-width: 1025px) {
  .l-sidebar__ttl {
    display: block;
  }
}

.l-sidebar.is-open {
  z-index: 20;
  left: 13%;
  width: 87%;
  overflow-y: scroll;
  transition: all 0.3s linear;
}

@media (min-width: 600px) {
  .l-sidebar.is-open {
    left: 56%;
    width: 44%;
  }
}

@media (min-width: 1025px) {
  .l-sidebar {
    position: static;
    width: 100%;
    height: auto;
  }
}

.l-footer {
  width: 100%;
  background-color: #9D8670;
}

@media (min-width: 1025px) {
  .l-grid {
    display: grid;
    grid-template-columns: 1fr 19%;
  }
  .l-grid .l-header {
    grid-row: 1;
    grid-column: 1;
  }
  .l-grid .l-main {
    grid-row: 2;
    grid-column: 1;
  }
  .l-grid .l-sidebar {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
  }
}

.l-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2rem;
}

@media (min-width: 600px) {
  .l-container {
    padding: 0 4rem;
  }
}

@media (min-width: 1025px) {
  .l-container {
    padding: 0 5%;
  }
}

/* ----------------------------------------------------------------------------------------
Object:component
----------------------------------------------------------------------------------------*/
.c-btn {
  cursor: pointer;
  width: 100%;
  height: 8rem;
  background: linear-gradient(#F2EDE9, #DED8D3);
  border: 1px solid #707070;
  border-radius: 2rem;
  font-family: "M PLUS 1p", sans-serif;
  font-weight: bold;
  line-height: 1.4;
  max-width: 43rem;
}

@media (min-width: 600px) {
  .c-btn {
    height: 10rem;
  }
}

.c-btn--menu {
  position: absolute;
  top: 1.4rem;
  right: 1.6rem;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.3;
  color: #707070;
}

@media (min-width: 600px) {
  .c-btn--menu {
    right: 2.6rem;
    font-size: 3.4rem;
  }
}

@media (min-width: 1025px) {
  .c-btn--menu {
    display: none;
  }
}

.c-btn--close {
  position: absolute;
  top: 2.5rem;
  right: 1.7rem;
  width: 5rem;
  height: 5rem;
  font-size: 0;
}

.c-btn--close::before {
  position: absolute;
  top: 2.5rem;
  right: 0.7rem;
  content: "";
  width: 4rem;
  height: 0.5rem;
  transform: rotate(45deg);
  background-color: #707070;
}

.c-btn--close::after {
  position: absolute;
  top: 2.5rem;
  right: 0.7rem;
  content: "";
  width: 4rem;
  height: 0.5rem;
  transform: rotate(-45deg);
  background-color: #707070;
}

@media (min-width: 1025px) {
  .c-btn--close {
    display: none;
  }
}

.c-btn--more {
  width: 16.3rem;
  padding: 1rem 0;
  background-color: #fff;
  font-size: 1.6rem;
  font-weight: bold;
  color: #707070;
  border-radius: 3.5rem;
  display: block;
  margin: auto;
  margin-top: 4rem;
}

@media (min-width: 1025px) {
  .c-btn--more {
    width: 52%;
    padding: 2.5rem 0;
    margin-top: 6rem;
  }
}

.c-mainvisual--front {
  background-image: url(/images/mainvisual/mainvisual-front.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.c-mainvisual--archive {
  background-image: url(/images/mainvisual/page-title_archive.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 1025px) {
  .c-mainvisual--archive {
    background-image: url(/images/mainvisual/page-title_archive@2x.jpg);
    background-position: center;
  }
}

.c-mainvisual--single {
  background-image: url(/images/mainvisual/mainvisual-single.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.c-mainvisual--page {
  background-image: url(/images/mainvisual/mainvisual-page.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.c-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "M PLUS 1p", sans-serif;
  /*   &:nth-of-type(2) {
    margin: 2rem 0;

    @include large {
      margin: 3rem 0;
    }
  } */
}

@media (min-width: 600px) {
  .c-card {
    flex-direction: row;
    width: 100%;
    height: auto;
  }
}

.c-card:not(:first-of-type) {
  margin: 2rem 0;
}

@media (min-width: 1025px) {
  .c-card:not(:first-of-type) {
    margin: 3rem 0;
  }
}

@media (min-width: 600px) {
  .c-card img {
    width: 50%;
    object-fit: cover;
  }
}

.c-card__caption {
  background-color: #3C2B1C;
  padding: 3rem 1.5rem 4.4rem;
}

@media (min-width: 1025px) {
  .c-card__caption {
    padding: 5rem 6rem 6rem;
  }
}

.c-card__caption h3 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.5;
  color: #fff;
  /* white-space: nowrap; //仕方なく・・・ */
}

@media (min-width: 600px) {
  .c-card__caption h3 {
    font-size: 3vw;
  }
}

@media (min-width: 1025px) {
  .c-card__caption h3 {
    font-size: 2vw;
  }
}

.c-card__caption h4 {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.4;
  color: #fff;
  padding-top: 2.4rem;
}

@media (min-width: 1025px) {
  .c-card__caption h4 {
    font-size: 1.8vw;
    padding-top: 4.7rem;
  }
}

.c-card__caption p {
  font-size: 1.6rem;
  line-height: 1.4;
  color: #fff;
  padding-top: 1rem;
}

/* ----------------------------------------------------------------------------------------
Object:project
----------------------------------------------------------------------------------------*/
.p-header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1025px) {
  .p-header {
    flex-direction: row;
    justify-content: space-between;
    padding: 3rem 0;
  }
}

.p-header__ttl {
  padding-top: 4rem;
  font-family: "Roboto", sans-serif;
  font-size: 4rem;
  font-weight: bold;
  line-height: 1.325;
  color: #707070;
}

@media (min-width: 1025px) {
  .p-header__ttl {
    padding-top: 0;
    font-size: 6.4rem;
    margin-left: 4%;
  }
}

.p-searchform {
  display: flex;
  padding: 4rem 0;
  width: calc(100% - 20%);
}

@media (min-width: 600px) {
  .p-searchform {
    width: calc(100% - 35%);
  }
}

@media (min-width: 1025px) {
  .p-searchform {
    width: calc(100% - 65%);
    margin-right: 2%;
  }
}

.p-searchform__keyword {
  width: 72%;
  height: 4.6rem;
  background-color: #fff;
  border: solid 1px #707070;
  border-radius: 1rem;
  padding-left: 1.6rem;
  margin-right: 3%;
  opacity: 0.8;
}

.p-searchform__submit {
  width: 25%;
  height: 4.6rem;
  background: linear-gradient(#F2EDE9, #DED8D3);
  border: solid 1px #707070;
  border-radius: 1rem;
  font-family: "M PLUS 1p", sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.4;
  color: #707070;
}

.p-hero {
  width: 100%;
  height: 28.5rem;
  position: relative;
}

@media (min-width: 1025px) {
  .p-hero {
    height: 53rem;
  }
}

.p-hero--archive {
  width: 100%;
  height: 28.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* 画像のレイアー */
}

@media (min-width: 600px) {
  .p-hero--archive {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}

@media (min-width: 1025px) {
  .p-hero--archive {
    height: 24vh;
    min-height: 24rem;
  }
}

.p-hero--archive::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.5;
}

.p-hero--archive p {
  z-index: 10;
  margin-left: 3.7rem;
  font-family: "M PLUS 1p", sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.3;
  color: #fff;
}

@media (min-width: 600px) {
  .p-hero--archive p {
    margin-left: 2rem;
  }
}

.p-hero--single {
  width: 100%;
  height: 22.5rem;
  position: relative;
}

@media (min-width: 600px) {
  .p-hero--single {
    height: 50rem;
  }
}

.p-hero__ttl {
  position: absolute;
  top: 40%;
  left: 6%;
  font-family: "M PLUS 1p", sans-serif;
  font-size: 3.6rem;
  font-weight: bold;
  line-height: 1.5;
  color: #fff;
}

@media (min-width: 600px) {
  .p-hero__ttl {
    left: 10%;
  }
}

@media (min-width: 1025px) {
  .p-hero__ttl {
    top: 43%;
    font-size: 4rem;
  }
}

.p-hero__ttl--archive {
  z-index: 10;
  margin-left: 3.7rem;
  font-family: "Roboto", sans-serif;
  font-size: 3.6rem;
  font-weight: bold;
  line-height: 1.3;
  color: #fff;
}

@media (min-width: 600px) {
  .p-hero__ttl--archive {
    margin-left: 8.6rem;
    font-size: 6rem;
  }
}

.p-hero__ttl--single {
  position: absolute;
  top: 40%;
  left: 7%;
  font-family: "M PLUS 1p", sans-serif;
  font-size: 3.6rem;
  font-weight: bold;
  line-height: 1.5;
  color: #fff;
}

@media (min-width: 600px) {
  .p-hero__ttl--single {
    left: 10%;
    font-size: 6rem;
  }
}

@media (min-width: 1025px) {
  .p-hero__ttl--single {
    left: 4.5%;
  }
}

.p-service {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 600px) {
  .p-service {
    flex-direction: row;
    padding: 4%;
    /* padding: 4rem; */
  }
}

.p-service__item {
  position: relative;
  width: calc(100% - 40px);
  height: 64.2rem;
  /* margin:5% 5% 0 5%; */
  margin-top: 2rem;
}

@media (min-width: 600px) {
  .p-service__item {
    width: calc(100% - 61px);
    height: 68.1rem;
    margin-top: 0;
  }
}

@media (min-width: 1025px) {
  .p-service__item {
    width: 44%;
    height: 119.6rem;
  }
}

.p-service__item--takeout {
  background-image: url(/images/eyecatch/front_tekeout.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.p-service__item--eatin {
  background-image: url(/images/eyecatch/front_eatin.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 600px) {
  .p-service__item--eatin {
    margin-left: 5%;
  }
}

.p-service__ttl {
  position: absolute;
  top: 1.1rem;
  left: 1rem;
  font-family: "Roboto", sans-serif;
  font-size: 4.1rem;
  /* @include font-vw(41); */
  font-weight: bold;
  line-height: 1.3;
  color: #fff;
}

@media (min-width: 600px) {
  .p-service__ttl {
    font-size: 4.4rem;
  }
}

@media (min-width: 1025px) {
  .p-service__ttl {
    font-size: 4.3vw;
    top: 2rem;
    left: 2rem;
  }
}

.p-service__ttl::after {
  position: absolute;
  top: 6.6rem;
  left: 0.35rem;
  content: "";
  width: 3.4rem;
  height: 0.5rem;
  background-color: #fff;
}

@media (min-width: 1025px) {
  .p-service__ttl::after {
    top: 7vw;
    left: 0.5vw;
    width: 3.5vw;
  }
}

.p-service__desc {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.p-service__desc dl {
  width: calc(100% - 30px);
  margin: 0 auto 1rem;
  padding: 2rem 1rem;
  background-color: #fff;
  opacity: 0.8;
}

@media (min-width: 1025px) {
  .p-service__desc dl {
    margin: 0 auto 2rem;
  }
}

.p-service__desc dt {
  padding-bottom: 2rem;
  font-family: "M PLUS 1p", sans-serif;
  font-size: 2.2rem;
  font-weight: bold;
  line-height: 1.5;
  color: #3C2A10;
}

@media (min-width: 600px) {
  .p-service__desc dt {
    font-size: 2.4rem;
  }
}

.p-service__desc dd {
  padding-bottom: 2.8rem;
  font-family: "M PLUS 1p", sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
  color: #3C2A10;
}

.p-map {
  position: relative;
  z-index: 1;
  height: 69rem;
  padding: 4rem 0 5rem;
  margin-top: 5rem;
  overflow: hidden;
}

@media (min-width: 600px) {
  .p-map {
    height: 41.5rem;
    margin-top: 0;
  }
}

@media (min-width: 1025px) {
  .p-map {
    height: 64.9rem;
    padding: 0;
  }
}

.p-map iframe {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.p-map__layer {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.p-map__layer::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 60%;
  background-color: rgba(0, 0, 0, 0.4);
}

@media (min-width: 600px) {
  .p-map__layer::after {
    height: 100%;
  }
}

@media (min-width: 1025px) {
  .p-map__layer::after {
    width: 60%;
  }
}

.p-map__desc {
  position: relative;
  z-index: 20;
  height: 99%;
  padding: 0 4rem;
  overflow: hidden;
}

@media (min-width: 1025px) {
  .p-map__desc {
    width: 60%;
    padding: 0 8%;
    height: 100%;
  }
}

.p-map__ttl {
  padding-bottom: 4rem;
  font-family: "M PLUS 1p", sans-serif;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5;
  color: #fff;
}

@media (min-width: 1025px) {
  .p-map__ttl {
    padding: 8rem 0 10rem;
    font-size: 2.4vw;
  }
}

.p-map__ttl::after {
  position: absolute;
  top: 6rem;
  left: 4rem;
  content: "";
  width: 7rem;
  height: 0.2rem;
  background-color: #fff;
}

@media (min-width: 1025px) {
  .p-map__ttl::after {
    top: 28%;
    left: 14%;
  }
}

.p-map__text {
  /* height: 90%; */
  font-family: "M PLUS 1p", sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 2.4;
  color: #fff;
  overflow: hidden;
}

@media (min-width: 1025px) {
  .p-map__text {
    height: 60%;
    font-size: 1.6rem;
  }
}

.p-footer {
  padding: 4rem 0 3rem;
  font-family: "M PLUS 1p", sans-serif;
  color: #fff;
  text-align: center;
}

.p-footer__menulist {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-footer__menulist__item {
  position: relative;
  padding: 0 1.5rem 3rem;
  font-size: 2rem;
  line-height: 1.5;
}

.p-footer__menulist__item:nth-child(2)::before {
  position: absolute;
  left: 0;
  top: 5px;
  content: "";
  width: 0.1rem;
  height: 2rem;
  background-color: #fff;
}

.p-footer p {
  font-size: 1.4rem;
  line-height: 1.4;
}

.p-menulist {
  padding-top: 8.2rem;
  font-family: "M PLUS 1p", sans-serif;
  color: #707070;
}

.p-menulist a:hover {
  opacity: 0.5;
}

.p-menulist__item > h3 {
  margin-left: 4.6rem;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1.5;
}

.p-menulist__sub {
  padding: 4rem 0 4rem 6.5rem;
  font-size: 2rem;
}

@media (min-width: 1025px) {
  .p-menulist__sub {
    font-size: 1.2vw;
  }
}

.p-menulist__subitem {
  padding-bottom: 2.3rem;
}

.p-intro {
  font-family: "M PLUS 1p", sans-serif;
  font-weight: bold;
  line-height: 1.5;
  color: #3C2A10;
  margin-top: 3rem;
}

@media (min-width: 1025px) {
  .p-intro {
    margin-top: 6rem;
  }
}

.p-intro h2 {
  font-size: 2.8rem;
  padding-top: 3rem;
}

@media (min-width: 600px) {
  .p-intro h2 {
    font-size: 3.6rem;
  }
}

.p-intro h3 {
  font-size: 2.4rem;
  padding-top: 3rem;
}

@media (min-width: 600px) {
  .p-intro h3 {
    font-size: 2.8rem;
  }
}

.p-intro h4, .p-intro h5, .p-intro h6 {
  font-size: 2rem;
  padding-top: 3rem;
}

.p-intro p {
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 1.4;
  padding-top: 3rem;
}

.p-menucard {
  padding-top: 2rem;
}

@media (min-width: 600px) {
  .p-menucard {
    padding-top: 3.7rem;
  }
}

@media (min-width: 1025px) {
  .p-menucard {
    padding-top: 7rem;
  }
}

.p-pagenation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
  margin-top: 6rem;
  margin-bottom: 3rem;
  color: #707070;
}

@media (min-width: 600px) {
  .p-pagenation {
    margin-top: 10.5rem;
  }
}

@media (min-width: 1025px) {
  .p-pagenation {
    margin-top: 15rem;
  }
}

.p-pagenation > p {
  display: none;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 2;
  padding-right: 2rem;
}

@media (min-width: 600px) {
  .p-pagenation > p {
    display: block;
    white-space: nowrap;
  }
}

.p-pagenation span {
  font-size: 3rem;
}

.p-pagenation__list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 600px) {
  .p-pagenation__list {
    width: auto;
    justify-content: center;
  }
}

.p-pagenation__list__item {
  width: 3.5rem;
  height: 3.5rem;
  border: 1px solid #707070;
}

.p-pagenation__list__item a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-pagenation__list__item p {
  font-family: "M PLUS 1p", sans-serif;
}

.p-pagenation__list__item p:first-of-type {
  margin-left: 0.8rem;
}

.p-pagenation__list__item p:last-of-type {
  margin-right: 0.8rem;
}

@media (min-width: 600px) {
  .p-pagenation__list__item p {
    display: none;
  }
}

.p-pagenation__list__item:first-of-type, .p-pagenation__list__item:last-of-type {
  border: none;
  width: auto;
  height: auto;
}

.p-pagenation__list__item:not(:first-of-type):not(:last-of-type) {
  display: none;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

@media (min-width: 600px) {
  .p-pagenation__list__item:not(:first-of-type):not(:last-of-type) {
    display: flex;
    justify-content: center;
  }
}

.p-pagenation__list__item:hover:not(:first-of-type):not(:last-of-type) {
  background-color: #3C2B1C;
  color: #fff;
}

.p-pagenation__list__item:not(:first-of-type) {
  margin-left: 0;
}

@media (min-width: 600px) {
  .p-pagenation__list__item:not(:first-of-type) {
    margin-left: 1.5rem;
  }
}

.p-blockquote {
  font-family: "M PLUS 1p", sans-serif;
  background-color: #F5F5F5;
  margin-top: 3rem;
}

.p-blockquote__wrap {
  padding: 3rem 2rem;
}

@media (min-width: 600px) {
  .p-blockquote__wrap {
    padding: 5rem 5rem 6rem 5rem;
  }
}

.p-blockquote__link {
  margin-top: 3rem;
}

@media (min-width: 600px) {
  .p-blockquote__link {
    margin-top: 6rem;
  }
}

.p-blockquote__link a {
  padding-left: 5px;
  text-decoration: underline;
}

.p-eyecatch {
  margin-top: 3rem;
  font-family: "M PLUS 1p", sans-serif;
  line-height: 1.4;
  color: #3C2A10;
}

.p-eyecatch__top {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}

.p-eyecatch__list {
  margin-top: 3rem;
}

.p-eyecatch__list__item {
  overflow: hidden;
  height: 32vh;
}

@media (min-width: 600px) {
  .p-eyecatch__list__item {
    height: 42vh;
  }
}

.p-eyecatch__list__item figure {
  display: flex;
  /*         flex-direction: row;
        justify-content: center;
        align-items: flex-start; */
}

.p-eyecatch__list__item figure:first-child {
  margin-bottom: 3rem;
}

.p-eyecatch__list__item img {
  width: 42%;
  height: 50%;
  object-fit: cover;
}

.p-eyecatch__list__item img:first-child {
  margin-right: 3%;
}

.p-eyecatch__list__item img:last-child {
  margin-left: 3%;
}

.p-eyecatch__list__item:last-child {
  margin-top: 3rem;
}

.p-eyecatch__bottom {
  display: block;
  width: 44%;
  margin: 3rem auto 0 auto;
  margin-top: 3rem;
}

@media (min-width: 600px) {
  .p-eyecatch__bottom {
    width: 70%;
  }
}

.p-eyecatch__gallery {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 600px) {
  .p-eyecatch__gallery {
    margin-top: 24rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

@media (min-width: 1025px) {
  .p-eyecatch__gallery {
    margin-top: 6rem;
  }
}

.p-eyecatch__gallery img {
  width: 100%;
}

.p-eyecatch__gallery img:not(:first-child) {
  margin-top: 2rem;
}

@media (min-width: 600px) {
  .p-eyecatch__gallery img:not(:first-child) {
    margin-top: 0;
  }
}

@media (min-width: 600px) {
  .p-eyecatch__gallery img {
    margin: 0 1.5rem 2rem 0;
    width: calc(50% - 1.5rem / 2);
  }
  .p-eyecatch__gallery img:nth-child(2n) {
    margin-right: 0;
  }
}

@media (min-width: 1025px) {
  .p-eyecatch__gallery img {
    margin: 0 2rem 2rem 0;
    width: calc(33.3% - 4rem / 3);
  }
  .p-eyecatch__gallery img:nth-child(2n) {
    margin-right: 2rem;
  }
  .p-eyecatch__gallery img:nth-child(3n) {
    margin-right: 0;
  }
}

.p-list {
  font-family: "M PLUS 1p", sans-serif;
  line-height: 1.4;
  color: #3C2A10;
  margin-top: 3rem;
}

@media (min-width: 600px) {
  .p-list {
    margin-top: 4rem;
    padding-left: 7rem;
  }
}

@media (min-width: 1025px) {
  .p-list {
    padding-left: 4%;
  }
}

.p-list ol li ol {
  padding: 2rem 0 2rem 2rem;
}

.p-list > ul {
  margin-top: 6rem;
}

.p-list ul li ul {
  padding: 2rem 0 2rem 2rem;
}

.p-code {
  background-color: #F5F5F5;
  margin-top: 3rem;
  padding: 2rem 0;
}

@media (min-width: 600px) {
  .p-code {
    margin-top: 6rem;
  }
}

.p-code code {
  font-family: "M PLUS 1p", sans-serif;
  line-height: 1.4;
  color: #3C2A10;
}

.p-table {
  font-family: "M PLUS 1p", sans-serif;
  line-height: 1.4;
  color: #3C2A10;
  background-color: #fff;
  margin: 3rem 0;
  border-collapse: collapse;
}

@media (min-width: 600px) {
  .p-table {
    margin: 6rem 0;
  }
}

.p-table td {
  border: 1px solid #707070;
}

.p-table td:nth-child(odd) {
  padding: 3rem 4rem 3rem 3rem;
}

.p-table td:nth-child(even) {
  padding: 3rem 10rem 3rem 3rem;
}

.p-bold {
  font-family: "M PLUS 1p", sans-serif;
  font-weight: bold;
  line-height: 1.4;
  margin: 3rem 0 18rem;
}

@media (min-width: 600px) {
  .p-bold {
    margin: 6rem 0 23rem;
  }
}

@media (min-width: 1025px) {
  .p-bold {
    margin: 6rem 0 35rem;
  }
}
/*# sourceMappingURL=style.css.map */