.c-mainvisual {
  &--frontpage {
    background-image: url(/images/mainvisual/mainvisual-pc.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}