.p-footer {
  padding: 4rem 0 3rem;
  font-family: $m-plus;
  color: $white;
  text-align: center;

  &__menulist {
    display: flex;
    justify-content: center;
    align-items: center;

    &__item {
      position: relative;
      padding: 0 1.5rem 3rem;
      font-size: 2rem;
      line-height: 1.5;
    }

    &__item:nth-child(2)::before {
      position: absolute;
      left: 0;
      top: 5px;
      content: "";
      width: 0.1rem;
      height: 2rem;
      background-color: $white;
    }
  }

  p {
    font-size: 1.4rem;
    line-height: 1.4;
  }
}