.p-hero {
  width: 100%;
  height: 28.5rem;
  position: relative;

  @include large {
    height: 53rem;
  }

  &__ttl {
    position: absolute;
    top:40%;
    left: 6%;
    font-family: $m-plus;
    font-size: 3.6rem;
    font-weight: bold;
    line-height: 1.5;
    color: $white;

    @include medium {
      left: 10%;
    }

    @include large {
      top: 43%;
      font-size: 4rem;
    }

  }
}