.p-menulist {
  padding-top: 8.2rem;
  font-family: $m-plus;
  color: #707070;

  a:hover {
    opacity: 0.5;
  }

  &__item > a {
    margin-left: 4.6rem;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 1.5;
  }

  &__sub {
    padding: 4rem 0 4rem 6.5rem;
    font-size: 2rem;

    @include large {
      font-size: 1.2vw;
    }
  }

  &__subitem {
    padding-bottom: 2.3rem;
  }
}