.p-service {
  width: 100%;
  display: flex;
  flex-direction: column; //縦並び
  align-items: center;  //縦方向中央揃え
  justify-content: center; //水平方向中央揃え

  @include medium {
    flex-direction: row; //画像を横並びにする
    padding: 4%;
    /* padding: 4rem; */
  }

  &__item {
    position: relative;
    width: calc(100% - 40px);
    height: 64.2rem;
    /* margin:5% 5% 0 5%; */
    margin-top: 2rem;

    @include medium {
      width: calc(100% - 61px); //効いてない？
      height: 68.1rem;
      margin-top: 0; //タブレット表示から親要素のpaddingで余白調整（横並びになったら横の余白が消えたため）。widthの指定が怪しい
    }

    @include large {
      width: 44%;
      height: 119.6rem;
    }

    &--takeout {
      background-image: url(/images/eyecatch/front_tekeout.jpg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &--eatin {
      background-image: url(/images/eyecatch/front_eatin.jpg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;

      @include medium {
        margin-left: 5%; //隣り合っているtakeout画像の余白余白調整 (5％=4rem相当)
      }
    }
  }

  &__ttl {
    position: absolute;
    top: 1.1rem;
    left: 1rem;
    font-family: $roboto;
    font-size: 4.1rem;
    /* @include font-vw(41); */  //文字サイズ可変対応実験用
    font-weight: bold;
    line-height: 1.3;
    color: $white;

    @include medium {
      font-size: 4.4rem;
    }

    @include large {
      font-size: 4.3vw;
      top: 2rem;
      left: 2rem;
    }

    &::after {
      position: absolute;
      top: 6.6rem;
      left: 0.35rem;
      content: "";
      width: 3.4rem;
      height: 0.5rem;
      background-color: $white;

      @include large {
        top: 7vw;
        left: 0.5vw;
        width: 3.5vw;
      }
    }
  }

  &__desc {
    position: absolute;
    bottom: 0;
    width: 100%;

    dl {
      width: calc(100% - 30px);
      margin: 0 auto 1rem;
      padding: 2rem 1rem;
      background-color: $white;
      opacity: 0.8;

      @include large {
        margin: 0 auto 2rem;
      }
    }

    dt {
      padding-bottom: 2rem;
      font-family: $m-plus;
      font-size: 2.2rem;
      font-weight: bold;
      line-height: 1.5;
      color: #3C2A10;

      @include medium {
        font-size: 2.4rem;
      }
    }

    dd {
      padding-bottom: 2.8rem;
      font-family: $m-plus;
      font-size: 1.6rem;
      line-height: 1.4;
      color: #3C2A10;
    }
  }
}