.l-sidebar {
  position: fixed;
  top: 0%;
  left: 100%;
  height: 100vh;
  background-color: $sidebar-bg;

  &.is-open {
    z-index: 20;
    left: 13%;
    width: 87%;
    overflow-y: scroll;
    transition: all 0.3s linear;

    @include medium {
      left: 56%;
      width: 44%;
    }
  }

  @include large {
    position: static; //position解除
    width: 100%;
    height: auto;  //指定しないと下まで色がつかない
  }

}